<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="search mb-3">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="top-nav text-start text-md-end d-flex justify-content-md-end">
                <ul class="m-0 mb-3 mb-md-0 p-0">
                    <li class="nav-item dropdown no-arrow mx-2 mx-md-3">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge badge-counter">3 </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-2 mx-md-3">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                </ul>
                <ul class="m-0 mb-3 mb-md-0 p-0 ms-md-3">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome John </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>